* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: url('https://images.unsplash.com/photo-1432821579285-1b649e5b1ce3?q=80&w=2070&auto=format&fit=crop') 
        no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.contact-container {
    background-color: #050c1f;
    padding: 30px;
    border-radius: 15px;
    color: white;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.4s ease;
}

.contact-container:hover {
    transform: scale(1.02);
    background-color: #050c1f;
    box-shadow: 0 8px 25px rgba(189, 189, 189, 0.7);
}

.logo img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.contact-form h2 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-form p {
    font-size: 15px;
    color: #dbdbdb;
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #f4f3f3;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.contact-form textarea {
    height: 80px;
    resize: none;
    margin-bottom: 20px;
}

.submit {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit:hover {
    background-color: #0056b3;
    transform: scale(1.03);
}


.social-media {
    margin-top: 20px;
}

.social-media p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #ccc;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #fff;
}


.facebook {
    color: #a4a4a4;
}

.twitter {
    color: #c7c7c7;
}

.instagram {
    color: #c5c5c5;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
        height: auto;
        display: block;
    }

    .contact-container {
        width: 90%;
        padding: 20px;
    }

    .logo img {
        width: 90px;
    }

    .contact-form h2 {
        font-size: 22px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 15px;
    }

    .social-icon {
        font-size: 22px;
    }
}












